## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="ui" file="crumbs.tmpl" import="bar"/>
<%block name="sourcelink"></%block>

<%block name="content">
<section class="section">
  <div class="container">
    ${ui.bar(crumbs)}
  </div>
</section>

<section class="section">
  <div class="container">
    %if title:
      <h1 class="title is-1">${title|h}</h1>
    %endif
    %if post:
    <p>${post.text()}</p>
    %endif
    %if folders:
    <ul>
    % for folder, ftitle in folders:
      <li><a href="${folder}"><i
      class="icon-folder-open"></i>&nbsp;${ftitle|h}</a></li>
    % endfor
    </ul>
    %endif
    %if photo_array:
    <div class="columns">
      %for image in photo_array:
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="${image['url_thumb']}" alt="${image['title']|h}" />
              </figure>
            </div>
            <div class="card-content">
              <a href="${image['url']}" class="thumbnail image-reference" title="${image['title']}">${image['title']}</a>
            </div>
          </div>
        </div>
      %endfor
    </div>
    %endif
  </div>
</section>

%if site_has_comments and enable_comments:
<section class="section comments">
  <div class="container">
    <h2 class="title is-2">${messages("Comments")}</h2>
    ${comments.comment_form(None, permalink, title)}
  </div>
</section>
%endif
</%block>

<%block name="extra_head">
${parent.extra_head()}
<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.xml">
</%block>
